:root {
    --bg-color: #282c34;
    --offwhite: rgba(230,230,230,1);
}

.Flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.Flex *  {
    flex-basis: fit-content;
    max-width: 100%;
}


.Center {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-scale infinite 7s ease-in-out;
    }
}

#Header {
    background-color: var(--offwhite)
}

.App {
    background-color: var(--bg-color);
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 2rem;
}

.Columns {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

#Main {
    padding: 0 0 3rem 0;
    width: 25%;
    min-width: 20rem;
    background-color: var(--offwhite);
    border-radius: 20%/12.5%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    object-fit: cover;
}


.App-link {
    color: #009cc7;
}

.Home-buttons {
    margin: 0 auto 2rem auto;
    width: 20vw;
}

.Window-page {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    background-color: var(--offwhite);
    border-radius: 5vmin;
    padding: 3rem;
    color: black;
}

.Footer {
}

.Footer a {
    right: 0;
    bottom: 0;
}

@keyframes App-logo-scale {
    0% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(1.05) translateY(-10px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}
